.custom-css::before{

    display: block;
    content: "";
    position: absolute;
}


.custom-css{
    background: url('../../utils/img/palms2.svg');
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box{
    
    padding: 0 4rem;
    width: auto;    
}

@media screen and (max-width: 767px){
    .box{
        padding: 0 2rem;
        width: 100%;
        height: 100%;
        margin: 4rem;
        margin-top: 8rem;


    }

    .google{
        z-index: -1;
    }

}


.spinner:before{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top:50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 2px solid limegreen;
    border-right: 2px solid transparent;
    animation: spinner 0.7s linear infinite;



}

div .spinner h3{
    display: flex;
    justify-content: center;
    text-align: center;
}

@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}